**/node_modules/
**/dist/

.env
rent-project/.env.local
rent-project/.env.development
rent-project/.env.production
server/.env

rent-project/.next/

.DS_Store
Thumbs.db

.vscode/

rent-project/node_modules/
server/node_modules/
rent-project/dist/
server/dist/
rent-project/.env
server/.env
rent-project/.next/
node_modules

asset-download